node_modules
coverage
dist
TODO.txt
.DS_Store
.env
.eslintcache
package-lock.json
yarn.lock
uploads/*
!uploads/files
uploads/files/*
!uploads/files/.gitkeep
!uploads/downloadFiles
uploads/downloadFiles/*
!uploads/downloadFiles/.gitkeep
!dist/uploads/files/.gitkeep
.vscode/launch.json
*.key
*.txt
*.cer
decryptedPayload.json

